.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}
.modal-content{
    background-color:  #bf9c10;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 90%;
    height: fit-content;
    max-height: 90%;
    overflow-y: scroll;
}
.modal-data{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
    flex-direction: column;
    height: fit-content;
    
}
.modal-buttons{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    margin-top: 20px;
}